{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row text-center m-4"><h1>Account info</h1></div>

    <div class="col-12 m-4">
        <label for="username" class="form-label"><h4>Username</h4></label>
        <div class="col bg-light p-2">{{current_user.username}}</div>
    </div>
    <div class="col-12 m-4">
        <label for="email" class="form-label"><h4>Email</h4></label>
        <div class="col bg-light p-2">{{current_user.email}}</div>
    </div>
    <div class="col-12 m-4">
        <label for="Confirmation" class="form-label"><h4>Email confirmed</h4></label>
        {% if current_user.confirmed == 1 %}
        <div class="col bg-light p-2">True</div>
        {% else %}
        <div class="col bg-light p-2">False</div>
        {% endif %}
    </div>

    <div class="col-12 m-4">
        <label for="recycle" class="form-label"><h4>Viewing recycling history</h4></label>
    </div>    
</div>
{% endblock %}