{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h2 class="container text-center text-black m-4" style="padding: 20px">FIND A BIN!</h2>
    <div class="justify-content-center">
      <form action="{{url_for('main.findBin')}}" method="post">
        {{search_form.hidden_tag()}}
        <div class="row justify-content-evenly">
          <div class="col-4  d-flex justify-content-center align-self-center">
            <span style="white-space: nowrap">
              <div class="input-group mb-3 w-60 align-items-right" align="right">
                <div class="prepend" style="padding:5px 10px 5px 0px">
                  {{search_form.category.label}}
                </div>
<!--                <select class="form control" name="category" id="waste-select">-->
<!--                  <option value="">&#45;&#45;Please choose an option&#45;&#45;</option>-->
<!--                  {% for option in search_form.category.choices %}-->
<!--                  <option value={{option.id}}>{{option.name}}</option>-->
<!--                  {% endfor%}-->
<!--                </select>-->
                {{ search_form.category }}

            </div>

              </span>
          </div>

          <div class="col-1 align-self-center" align="center">
            <p>OR</p>
          </div>

          <div class="col-4  d-flex justify-content-center align-self-center" align="left" >
            <button class="btn btn-lg" id="uploadImageButton">
              <div style="padding:15px">
                <i class="fa-regular fa-image fa-2xl"></i>
                <br>
                <p style="padding-top:15px">Upload an image</p>
              </div>

            </button>
          </div>

        </div>

        <br>

        <div class="row">
          <div class="col align-self-center" align="center">
            <div class="input-group mb-3 w-50">
              <div class="input-group-prepend">
                <div class="prepend" style="padding:5px 10px 5px 0px">
                  {{search_form.location.label}}
                </div>

              </div>
<!--              <input type="text" class="form-control" aria-label="Location" aria-describedby="basic-addon1">-->

                    {{ search_form.location(class="form-control", style="border-radius:3px", value= currentLocation) }}

              <div style="padding:5px">
<!--                <form method="post" action="/getMyCurrentLocation">-->
<!--                    <button class="btn" type="submit" value="findLocation" name="findLocation"><i class="fa-light fa-location-dot"></i></button>-->
<!--                </form>-->
                  {{ search_form.isCurrentLocation(class="form-check-input") }}
                  {{ search_form.isCurrentLocation.label(class="form-check-label") }}
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col align-self-center" align="center">
            <div class="input-group mb-3 w-50">
              <div class="input-group-prepend">
                <div class="prepend" style="padding:5px 10px 5px 0px">
                  {{search_form.mode.label}}
                </div>
              </div>
<!--              <input type="text" class="form-control" aria-label="Location" aria-describedby="basic-addon1">-->
                  {{ search_form.mode}}
            </div>
          </div>

        </div>
        <div class="m-4 text-center">
          {{search_form.search(class="btn", style="background-color: #606A39; border:0cm;")}}
        </div>

      </form>
      {% if has_searched==True %}
        <p>Showing bins for {{searched[0]}} near {{searched[1]}}</p>
        <br>
          {% for list in search_results %}
              <div class="row justify-content-evenly" style="padding-bottom:15px">
            {% for item in list %}
            <div class="col-3 justify-content-center align-self-center border border-dark rounded location-thumbnail" style="padding-bottom:10px">
              <div class="thumbnail">
                <a href = "{{url_for('main.thisBinPage', my_var = item[1], source_string = source_string, lat_source = lat_source, long_source = long_source)}}">
                <button type = "img" alt = "..." height = "180" class = "rounded"> <img img src = "/static/images/E-waste millenia walk.png" alt="..." height="180" class="rounded"> </button>
                </a>
                <div align="center" style="padding:10px">
                  {% if data.iloc[item[1]]['ADDRESSBUILDINGNAME']!=None %}
                  <p> {{data.iloc[item[1]]['ADDRESSBUILDINGNAME']}}</p>
                  {% endif %}
                  {% if data.iloc[item[1]]['ADDRESSSTREETNAME']!= None %}
                  <p> {{data.iloc[item[1]]['ADDRESSSTREETNAME']}}</p>
                  {% endif %}
                  <p> {{data.iloc[item[1]]['NAME']}}</p>
                </div>
                <div class="row justify-content-between">
                  <div align="left" class="col-2 thumbnail-details">
                    <p>{{data.iloc[item[1]]['CATEGORY']}}</p>
                  </div>
                  <div align="right" class="col-3 thumbnail-details">
                    <p>{{item[0]}} min</p>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
        {% endfor %}

    {% endif %}

    </div>
</div>
{% endblock %}
