{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row text-center m-4">
        <h4>SAVE OUR EARTH TODAY</h4>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
        </div>
        <div class="col-md-auto p-4 rounded shadow" style="background-color:#babe91;">
          <h2><a class="text-decoration-none text-black" href="{{url_for('main.findBin')}}">LOCATE YOUR NEAREST BIN</a></h2>
        </div>
        <div class="col col-lg-2">
        </div>
    </div>
    <div class="row p-3"><h1>WHAT'S GOING ON</h1></div>
<div id="Maincarousel" class="carousel slide bg-secondary bg-gradient" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#Maincarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#Maincarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#Maincarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex justify-content-center">
        <img src="/static/images/How do you know what to recycle.jpeg" class="d-block" height="600" alt="...">
        </div>
        <div class="carousel-caption d-none d-md-block bg-secondary" style="--bs-bg-opacity: .5;">
          <h5>How do you know what to recycle</h5>
          <p>2022/8/31</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center">
        <img src="/static/images/Why thrift.jpeg" class="d-block" alt="..." height="600">
        </div>
        <div class="carousel-caption d-none d-md-block bg-secondary" style="--bs-bg-opacity: .5;">
          <h5>Why thrift</h5>
          <p>2022/8/31</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center">
        <img src="/static/images/What to do with broken light bulb.jpeg" class="d-block" alt="..." height="600">
        </div>
        <div class="carousel-caption d-none d-md-block bg-secondary" style="--bs-bg-opacity: .5;">
          <h5>What to do with broken light bulb</h5>
          <p>2022/8/31</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#Maincarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#Maincarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="row justify-content-md-center mt-4">
    <div class="col col-lg-2">
    </div>
    <div class="col-md-auto p-4 rounded shadow" style="background-color:#babe91;">
      <h4><a class="text-decoration-none text-black" href="/">BROWSE ALL</a></h4>
    </div>
    <div class="col col-lg-2">
    </div>
  </div>


  </div>
{% endblock %}
