{% extends "layout.html" %}

{% block content %}
<style>
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button {
  background-color: #686c3c; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>

<div class = "container">
    <div class="justify-content-center align-self-center" style="padding-bottom:10px">
<!--    static map -->
    <img src={{url}} alt="Map for destination" height="180" style="width:45%; height:60%;">
    <div align="center" style="padding:10px">
    {% if data.iloc[my_var]['ADDRESSBUILDINGNAME']!=None %}
    <h1> {{data.iloc[my_var]['ADDRESSBUILDINGNAME']}}</h1>
    {% endif %}
    {% if data.iloc[my_var]['ADDRESSSTREETNAME']!= None %}
    <h2> {{data.iloc[my_var]['ADDRESSSTREETNAME']}}</h2>
    {% endif %}
    <h3> {{data.iloc[my_var]['NAME']}}</h3>
    </div>    
</div>

<div class = "row" ><br><br><br></div>


<div class = 'flex-parent jc-center' style="padding-bottom: 40px">
    <div align="left">
        <form method="POST" class="form-favourites">
            {{ form.hidden_tag() }}
            {{ form.addFav(class="btn btn-lg btn-block", style="color:white;background:#686c3c;") }}
        </form>
    </div>
    &nbsp &nbsp &nbsp &nbsp &nbsp
    <div align="right">
        <a href = https://www.google.com/maps?saddr={{source_string}}&daddr={{data['LATITUDE'].iloc[my_var]}},{{data['LONGITUDE'].iloc[my_var]}} >
            <button type="button" class="btn btn-lg" style="color:white;background:#686c3c;"> Google Maps </button>

        </a>
    </div>
</div>

{% endblock %}