<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/fontawesome/css/all.css">
        <link rel="stylesheet" href="/static/css/custom.css">
        <script src="/static/js/bootstrap.bundle.min.js"></script>
        <script src="/static/js/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #686c3c;">
            <div class="container-fluid">
                <button class="btn btn-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop" aria-label="Toggle navigation">
                    <span>
                        <i class="fa-solid fa-bars" style="color: white;font-size: 28px;"></i>
                    </span>
                </button>
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <h3><a class="nav-link" href="/" style="color: white;">App Name</a></h3>
                    </li>
                </ul>
                <div>
                <!--Empty div so that the app name could be place in the middle-->
                </div>
            </div>
        </nav>
        <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="staticBackdropLabel">Nav</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="container-fluid" id="navbar-item">
                    <ul>
                        <li class="m-4">
                        <a class="text-decoration-none text-black" href="/">
                            <i class="fa-solid fa-newspaper" style="font-size: 40px;color:black;padding:10px;"></i>
                            <p>Article</p>
                        </a>
                        </li>
                        <li class="m-4">
                            <a class="text-decoration-none text-black" href="/">
                                <i class="fa-solid fa-magnifying-glass" style="font-size: 40px;color:black;padding:10px;"></i>
                                <p>Find a bin</p>
                            </a>
                        </li>
                        <li class="m-4">
                            <a class="text-decoration-none text-black" href="/">
                                <i class="fa-solid fa-message" style="font-size: 40px;color:black;padding:10px;"></i>
                                <p>Feedback</p>
                            </a>
                        </li>
                        <li class="m-4">
                            <a class="text-decoration-none text-black" href="/">
                                <i class="fa-solid fa-clock-rotate-left" style="font-size: 40px;color:black;padding:10px;"></i>
                                <p>History</p>
                            </a>
                        </li>
                        <li class="m-4">
                            <a class="text-decoration-none text-black" href="/">
                                <i class="fa-solid fa-user" style="font-size: 40px;color:black;padding:10px;"></i>
                                <p>Account</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
          {% block content %}{% endblock %}
    </body>
</html>