#navbar-item li{
  border-bottom: 3px solid black;
  list-style-type: none;
  margin:0px;
  padding: 0px;
}
#navbar-item li p{
  display: inline-block;
  margin: 10px;
  padding: auto;
  font-size: 20px;
}

#Maincarousel{
  width: auto;
  height: auto;
}

#uploadImageButton{
    background-color: #D1D8B3
}

.padding-0{
    padding-left:0;
    padding-right:0;
}

.location-thumbnail{
    padding: 20px
}

.thumbnail-details{
    font-size: 13px
}

.article-display{
    text-align:center;
}

.article-img{
    width:500px;
    height:300px;
}

.article-creators{
    text-align:center;
}

.article-gallery{
    margin:10px;
    border:1px solid #ccc;
    float:left;
    width:30%;
    height:270px;
    text-align:center;
}

.article-gallery img{
    width:100%;
    height:200px;
}

.more-info-button{
    background-color:#4CAF50;
    color:white;
    border-radius:4px;
}

.more-info-button:hover{
    background-color: #3e8e41;
}

.article-figcaption{
    font-family:'Times New Roman', Times, serif;
    text-align:left;
    font-size:16px;
    font-weight:bold;
}
